[submodule "deps/llvm-project"]
	path = deps/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/19.x
[submodule "deps/abseil-cpp"]
	path = deps/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "deps/tlx"]
	path = deps/tlx
	url = https://github.com/tlx/tlx.git
[submodule "deps/fcpw"]
	path = deps/fcpw
	url = git@github.com:rohan-sawhney/fcpw.git
[submodule "deps/fcl"]
	path = deps/fcl
	url = git@github.com:flexible-collision-library/fcl.git
